<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Api Doc | PR-Store</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.14.2/swagger-ui-bundle.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.14.2/swagger-ui.css">
<body>
<div id="swagger-ui"></div>
<script>
    const ui = SwaggerUIBundle({
        url: window.location.protocol + '//' + window.location.host + '/api/doc/json',
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
    })
</script>
</body>
</html>
