<!-- partial:../../partials/_footer.html -->
<footer class="footer">
    <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                © Copyright {{ 'now'|date('Y') }} PR-Store. Все права защищены.
            </span>
    </div>
</footer>
<!-- partial -->