<!-- partial:../../partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="{{ asset('images/faces/face1.jpg') }}" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">Richard V.Welsh</p>
                        <div>
                            <small class="designation text-muted">Manager</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success btn-block">New Project
                    <i class="mdi mdi-plus"></i>
                </button>
            </div>
        </li>
        {% for social_key, data in social_list %}
            {% if social_key == constant('AppBundle\\Enum\\SocialEnum::INSTAGRAM') %}
                {% set active, show = ' active', ' show' %}
            {% else %}
                {% set active, show = '', '' %}
            {% endif %}
            <li class="nav-item{{ active }}">
                <a class="nav-link{{ active }}" data-toggle="collapse" href="#{{ social_key|lower }}" aria-expanded="false" aria-controls="ui-basic">
                    <i class="menu-icon mdi mdi-content-copy"></i>
                    <span class="menu-title">{{ social_key|trans }}</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse{{ show }}" id="{{ social_key|lower }}">
                    <ul class="nav flex-column sub-menu">
                        {% for task in data %}
                            {% if
                            task.type_id == constant('AppBundle\\Enum\\TaskTypeEnum::LIKE') and
                            social_key == constant('AppBundle\\Enum\\SocialEnum::INSTAGRAM')
                            %}
                                {% set active = ' active' %}
                            {% else %}
                                {% set active = '' %}
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link{{ active }}"
                                   href="#{{ task.social_id|lower }}-{{ task.type_id|lower }}"
                                   data-social-id="{{ task.social_id|lower }}"
                                   data-type-id="{{ task.type_id|lower }}"
                                   onclick="app.selectTaskType(event)"
                                >{{ task.type }} ({{ task.count }})</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</nav>