{% extends '@View/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3>{{ constant('AppBundle\\Enum\\SocialEnum::INSTAGRAM')|trans }}</h3>
                    <h5 class="card-title mb-4">
                        Список заданий
                    </h5>
                    <div class="task-list fluid-container">
                        {% for task in task_list %}
                            {% for task in task_list %}
                                {% include '@View/gainMoney/parts/rowTask.html.twig' with { 'task': task } %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}