.sidebar .nav.sub-menu .nav-item:hover > .nav-link.active {
    color: #287be0;
    background: transparent;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
    color: #308ee0;
}