<!DOCTYPE html>
<html lang="ru">

<head>
    {% block head %}
        {% include '@View/include/meta.html.twig' %}
        {% include '@View/include/css.html.twig' %}
    {% endblock %}
</head>

<body>
<div class="container-scroller">
    {% block header %}
        {% include '@View/include/header.html.twig' %}
    {% endblock %}
    <div class="container-fluid page-body-wrapper">
        {% block sudebar %}
            {% include '@View/include/sidebar.html.twig' %}
        {% endblock %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                {% block content %}{% endblock %}

            </div>
            <!-- content-wrapper ends -->
            {% block footer %}
                {% include '@View/include/footer.html.twig' %}
            {% endblock %}
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% block js %}
    {% include '@View/include/js.html.twig' %}
{% endblock %}
</body>

</html>
