<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PR-Store - продвижение в социальных сетях | Авторизация</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('iconfonts/puse-icons-feather/feather.css') }}">
    <link rel="stylesheet" href="{{ asset('css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/vendor.bundle.addons.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <!-- endinject -->
    {#<link rel="shortcut icon" href="../../images/favicon.png" />#}
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        <form method="post" class="form-login" onsubmit="app.login(event)">
                            <div class="form-group">
                                <label class="label">Email</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="E-mail" name="email" pattern=".{6,}" autofocus value="test111@mail.ru">
                                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Пароль</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="*********" name="password" pattern=".{6,}" value="keklol">
                                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block" type="submit">Вход</button>
                                <div class="progress d-none">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between">
                                <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="remember" type="checkbox" value="Оставаться в системе" checked>Оставаться в системе
                                    </label>
                                </div>
                                {#<a href="#" class="text-small forgot-password text-black">Забыли пароль?</a>#}
                            </div>
                            {#<div class="form-group">#}
                                {#<button class="btn btn-block g-login">#}
                                    {#<img class="mr-3" src="../../images/file-icons/icon-google.svg" alt="">Log in with Google</button>#}
                            {#</div>#}
                            <div class="text-block text-center my-3">
                                <span class="text-small font-weight-semibold">Не зарегистрированы ?</span>
                                <a href="{{ path('registration') }}" class="text-black text-small">Создайте новый аккаунт</a>
                            </div>
                        </form>
                    </div>
                    {#<ul class="auth-footer">#}
                        {#<li>#}
                            {#<a href="#">Conditions</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">Help</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">Terms</a>#}
                        {#</li>#}
                    {#</ul>#}
                    <p class="footer-text text-center">© Copyright {{ 'now'|date('Y') }} PR-Store. Все права защищены.</p>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ asset('js/vendor.bundle.base.js') }}"></script>
<script src="{{ asset('js/vendor.bundle.addons.js') }}"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="{{ asset('js/off-canvas.js') }}"></script>
<script src="{{ asset('js/misc.js') }}"></script>
<script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
<script src="{{ asset('reconnecting-websocket.js') }}"></script>
<script src="{{ asset('js/helper.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<!-- endinject -->
</body>

</html>
