<div class="row task ticket-card mt-3 pb-2 border-bottom pb-3 mb-3"
     data-task-id="{{ task.id }}"
     data-social-id="{{ task.social_id|lower }}"
     data-type-id="{{ task.type_id|lower }}"
>
    <div class="col-md-1">
        <img class="img-sm rounded-circle mb-4 mb-md-0" src="{{ task.image_url }}" alt="image">
    </div>
    <div class="ticket-details task__content col-md-9">
        <div class="d-flex">
            <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">James :</p>
            <p class="text-primary mr-1 mb-0">[#{{ task.id }}]</p>
            <p class="mb-0 ellipsis">{{ task.text }} {{ task.name }}</p>
        </div>
        <p class="text-gray ellipsis mb-2">
            Donec rutrum congue leo eget malesuada.
        </p>
        <div class="row text-gray d-md-flex d-none">
            <div class="col-4 d-flex">
                <small class="mb-0 mr-2 text-muted text-muted">Last responded :</small>
                <small class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</small>
            </div>
            <div class="col-4 d-flex">
                <small class="mb-0 mr-2 text-muted text-muted">Due in :</small>
                <small class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</small>
            </div>
        </div>
    </div>
    <div class="ticket-actions col-md-2">
        <div class="btn-group dropdown">
            <a href="{{ task.link }}" class="btn btn-primary">{{ task.cost }} монет</a>
            <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-reply fa-fw"></i>Quick reply</a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-history fa-fw"></i>Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-check text-success fa-fw"></i>Resolve Issue</a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-times text-danger fa-fw"></i>Close Issue</a>
            </div>
        </div>
    </div>
</div>